@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

::placeholder {
 width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d1e20;
}

* {
    vertical-align: middle;

    scroll-behavior: smooth;
    overflow-y: visible;
    scrollbar-width: thin;
}

text {
    display: inline-block;
    align-items: center;
    vertical-align: baseline;
}

body {
    user-select: none;
    color: #ffffff;
    background-color:#202020;
    animation: color 3s infinite;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    margin-top: 10px; 
}

header img.home {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

main {
    margin-left: 5%;
    /* margin-top: 1%; */
    margin-right: 5%;
}

main div.line {
    background-color: #2b2b2b;
    border-radius: 15px;
    padding: 3px;
    /* margin-right: 20%; */
    margin-top: 10px;
}

main div.line_2 {
    display: inline-block;
    background-color: #2b2b2b;
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    line-break: anywhere;
    /* height: 50px; */
    margin-top: 10px;
}

a {
    display: inline;
    color: #15a3a5;
    text-decoration: none;
    vertical-align: unset;
}

main div img.media {
    padding: 10px;
    margin: 15px;
}

main div img.media:hover {
    background-color: #3c3c3c88;
    border-radius: 10px;
    transform: scale(1.2);
}

main img.emote {
    width: 28px;
}

main div a.game {
    display: inline-block;
    color: #FA6E02;
    padding-left: 5px;
}

main div img.logo {
    border-radius: 25px;
    width: 30px;
}

main div img.badge {
    border-radius: 4px;
    width: 18px;
}


main div.modlookup td.td {
    text-align: right;
}

main div.modlookup td {
    padding-left: 10px;
    padding-right: 10px;
}

main div.modlookup table thead {
    text-align: center;
}


main div.main {
    margin-left: 15px;
}

.fill-space {
    display: inline-block;
    padding: 0px;
    width: 100%;
    max-height: 28px;
}

.fill-space-text {
    width: 100%;
}

.sp {
    line-height: 27px;
}

.a_nocolor {
    color: currentColor
}

.tr_1 {
    padding: 0px;
}

.th_in {
    display: table-cell;
}

.th_out {
    display: block;
    width: 50px;
}

/* main td.td_1 {
    width: 10%
} */

main td.td_2 {
    width: 50%;
}

main td.td_3 {
    width: 35%;
}

.spacer {
    display: inline-block;
    width: 40px;
    /* height: 27px; */
}

.spacer_ {
    display: inline-block;
    width: 3px;
}

.mc_toggle-on {
    background-color: green;
    transform: translateX(35px);
    transition: transform 250ms;
}

.mc_toggle-off {
    background-color: #6e4c4c;
    transform: translateX(none);
    transition: transform 250ms;
}



#mc_toggle-container {
    display: flex; 
    border-radius: 10px; 
    background-color: #6e4c4c; 
    border: solid; 
    width: 55px; 
    height: 25px; 
    border-width: 2.5px; 
    align-items: center; 
    cursor: pointer;
}

#mc_toggle-switch {
    width: 10px; 
    height: 15px; 
    background-color: #48838a; 
    border: solid; 
    border-radius: 6px; 
    border-width: 2.5px; 
    display: flexbox; 
    margin-left: 2px; 
    margin-right: 2px;
}

.refresh_icon {
    display: inline;
    position: absolute;
    float: right;
    margin-left: 15px;
}

.refresh_icon:hover {
    height: 25px;
    transform: rotate(360deg);
    transition: transform 1s
}
