* {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #181818;
    --input-color: #212121;
    --text-color: rgb(250, 250, 250);
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body header {
    margin: 2rem;
}

body header div.text {
    font-size: 1.5rem;
    font-weight: bold;
}

body header p {
    margin-left: 1rem;
    font-weight: bold;
    color: rgb(2, 157, 223);
}

body header div.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

body header div.text {
    font-size: large;
    display: inline-block;
    vertical-align: unset;
}

body header ul {
    margin: 1rem 2rem;
}

body a {
    color: rgb(83, 83, 83);
    display: inline;
    vertical-align: unset;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body main div.bilder {
    text-align: center;
}

body main div.bilder div.bild img {
    margin: 1rem;
    width: 900px;
    height: 800px;
}

body main div.bilder div.text {
    margin: 30px auto;
    width: 50%;
    border: 1px solid rgb(51, 51, 51);
    padding: 10px;
    text-align: left;
}

body main div.bilder h4 {
    color: #0871e0;
}