@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
    --background-color-one: rgb(26, 26, 26);
    --background-color-two: rgb(42, 39, 39);
    --text-color: rgba(243, 239, 239, 0.714);
}

body {
    user-select: none;
    background-color: var(--background-color-one);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 12px 20px;
    position: relative;
    left: 4%;
    margin: 8px 0px;
    border: hidden;
    background-color: var(--background-color-two);
    color: var(--text-color);
}

textarea {
    display: flex;
    resize: none;
}

button {
    width: 20%;
    padding: 12px 20px;
    position: relative;
    left: 4%;
    margin: 8px 0px;
    border: hidden;
    background-color: var(--background-color-two);
    color: var(--text-color);
}


a {
    display: inline;
    color: #15a3a5;
    text-decoration: none;
    vertical-align: unset;
}


div.title,
div.info {
    font-size: 20px;
    margin: 20px;
    margin-left: 2%;
}

ul {
    margin-left: 4%;
}

li {
    margin-top: 20px;
}

div.text {
    display: inline;
    text-decoration: none;
    vertical-align: unset;
}

span.response {
    padding: 6%;
}