@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d1e20;
}

* {
    vertical-align: middle;
    scroll-behavior: smooth;
    overflow-y: visible;
    scrollbar-width: thin;
}


body {
    user-select: none;
    color: #ffffff;
    background-color: rgb(18, 18, 18);
    animation: color 3s infinite;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    margin-top: 10px;
}

header div.home_icon img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-left: 6%;
    margin-top: 1%;
}

header div.home_icon img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-left: 6%;
    margin-top: 1%;
}

main {
    margin-left: 6%;
    margin-top: 2%;
}

main div.text {
    align-items: center;
    vertical-align: baseline;
    width: 100%;
}

main div.title {
    font-size: 25px;
    font-weight: bold;
    margin: 26px 0px 26px 0px;
}

main div.line {
    display: block;
    background-color: #1c20225f;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20%;
    margin-top: 10px;
}

a,
highlight {
    display: inline;
    color: #15a3a5;
    text-decoration: none;
    vertical-align: unset;
}

main div.media a img {
    padding: 12px;
    margin: 16px;
}

main div.media a img:hover {
    background-color: #3c3c3c88;
    border-radius: 10px;
    transform: scale(1.3);
}

main div.image img {
    width: 30px
}

main div a.game {
    animation: animation 2s infinite;
    color: #15a3a5;
}

main div.rainbow {
    animation: animation 2s infinite;
    color: #15a3a5;
}

@keyframes animation {

    10% {
        color: #ff0000;
    }

    20% {
        color: #f69f09;
    }

    30% {
        color: #ffff17de;
    }

    40% {
        color: #37f222;
    }

    50% {
        color: #009dff;
    }

    60% {
        color: #a028f6;
    }

    70% {
        color: #5f06a7;
    }

}

main div.image-area div.image .logo {
    border-radius: 25px;
    width: 30px;
}

main div.line div.followers {
    font-style: italic;
    float: right;
    color: #009dff;
}

main div.modlookup table {
    width: 400px;
    margin-left: 15px;
}

main div.front {
    margin-left: 15px;
}

main div .image-area {
    display: inline-block;
    width: 40px;
    height: 27px;
    margin-left: 15px;
}

main div.margin {
    margin-left: 10px;
    margin-right: 10px;
}

main div img.emote {
    margin-left: 2;
    margin-right: 2;
}


main div.inner-chat-message {
    display: inline;
    text-decoration: none;
    vertical-align: middle;
}

main div.inner-chat-message.badge img {
    border-radius: 3px;
}

#chat {
    padding-bottom: 20px;
    height: 300px;
    overflow-y: scroll;
}