* {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #181818;
    --input-color: #212121;
    --text-color: rgb(250, 250, 250);
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 2rem;
}

body main div.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

body main input[type="text"],
body main input[type="number"] {
    display: block;
    color: var(--text-color);
    background-color: var(--input-color);
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: hidden;
}

body main button {
    display: inline-block;
    width: 50%;
    padding:8px 16px;
    margin: 8px 0;
    border: hidden;
    background-color: var(--input-color);
    color: #fff;
}

body main button:hover:enabled {
    background-color: #ff00003d;
}

body main div#response {
    width: 80%;
}

body main div.text {
    font-size: large;
    display: inline-block;
    vertical-align: middle;
}

body main div.text img {
    width: 2rem;
    margin: 0.5rem;
}

body a {
    color: rgb(2, 157, 223);
    display: inline;
    vertical-align: unset;
    text-decoration: none;
}